@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}
body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-image: url(https://images.unsplash.com/photo-1482775907821-a56ec43344fc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
    background-size: cover;

}
div img{
    width:35px;
    margin-left: 5px;
}
#divab{
    background-color: black;
    display: flex;
    align-items: center;
    color: #078cff;
    padding: 15px;
    justify-content: center;
    border-radius: 30px;
    border: #078cff 2px solid;
}
#divab:hover{
    background-color: white;
    color: red;
    transition: all 2s ease;
    
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: 6vh;
    background-color: rgb(153, 153, 153);
    align-items: center;
    border-bottom: royalblue  solid 1px;
}
 nav p{
     text-align: center;
     margin-left: 15%;
     color: #085da7;
    
 }

 nav p:hover{
     font-size:  25px;
     transition: all 1s ease;

 }
 nav a{
     margin: 5px 10px;
     text-decoration: none;
     color: black;
 }
 nav a:hover{
    color: dodgerblue;
}
 main{
     display: flex;
     flex-direction: row;
     width: 100vw;
     justify-content: center;
 }

 footer{
     border-top: royalblue  solid 1px;
     display: flex;
     flex-direction: row;
     width: 100vw;
     justify-content: space-evenly;
     height: 6vh;
     background-color: rgb(153, 153, 153);
     align-items: center;
     
 }
 footer a{
     text-decoration:none;
     color: black;
 }
 footer a:hover{
    color: dodgerblue;
}

footer p:hover{
    font-size:35px;
    transition: all 1s ease;

}
